.tiles-container{
    margin-left:0;
    margin-right:0
}
.tiles{
    background-color:#bcbcbc;
    color:#fff;
    position:relative
}
.tiles.overflow-hidden{
    overflow:hidden
}
.tiles.full-height{
    height:100%
}
.tiles.added-margin{
    margin-right:-10px
}
.tiles.no-margin{
    margin-right:0
}
.tiles.margin-reset{
    margin-left:37px
}
.tiles .tiles-title{
    font-size:11px;
    font-family:roboto;
    letter-spacing:.7px;
    font-weight:500
}
.tiles .tiles-body{
    padding:19px 18px 15px 24px
}
.tiles .controller{
    position:relative;
    display:inline-block;
    float:right
}
.tiles .controller a{
    
}
.tiles .controller a.remove{
    background-position:-66px -38px;
    height:10px;
    top:-5px;
    width:10px
}
.tiles .controller a.config{
    background-position:-3px -32px;
    height:22px;
    width:22px
}
.tiles .controller a.reload{
    background-position:-37px -38px;
    height:10px;
    top:-5px;
    width:12px
}
.tiles .controller a.expand{
    background-position:-123px -11px;
    width:10px;
    height:6px;
    top:-5px
}
.tiles .controller a:hover.collapse{
    background-position:-95px -40px;
    height:7px;
    top:-5px;
    width:9px
}
.tiles .controller a:hover.remove{
    background-position:-66px -9px;
    height:10px;
    top:-5px;
    width:10px
}
.tiles .controller a:hover.config{
    background-position:-3px -32px;
    height:22px;
    width:22px
}
.tiles .controller a:hover.reload{
    background-position:-38px -9px;
    height:10px;
    top:-5px;
    width:12px
}
.tiles .controller a:hover.expand{
    background-position:-123px -11px;
    width:10px;
    height:6px;
    top:-5px
}
.tiles.white{
    background-color:#fff;
    color:#8b91a0
}
.tiles.white .controller a.remove:hover{
    background-position:-66px -38px;
    height:10px;
    top:-5px;
    width:10px;
    opacity:.6
}
.tiles.white .controller a.config:hover{
    background-position:-3px -32px;
    height:22px;
    width:22px;
    opacity:.6
}
.tiles.white .controller a.reload:hover{
    background-position:-37px -38px;
    height:10px;
    top:-5px;
    width:12px;
    opacity:.6
}
.tiles.white .controller a.expand:hover{
    background-position:-123px -11px;
    width:10px;
    height:6px;
    top:-5px;
    opacity:.6
}
.tiles.white>.tile-footer{
    background-color:#eceff1;
    color:#d1d3d9;
    font-size:13px;
    padding:8px 15px
}
.tiles.white.borderall{
    border:1px solid #e5e9ec
}
.tiles.white.border-left{
    border-left:1px solid #e5e9ec
}
.tiles.white.border-right{
    border-right:1px solid #e5e9ec
}
.tiles.white.border-top{
    border-top:1px solid #e5e9ec
}
.tiles.white.border-bottom{
    border-bottom:1px solid #e5e9ec
}
.tiles.white hr{
    margin:10px 0;
    height:1px;
    border:none;
    background-color:#f2f3f5
}
.tiles.white label{
    color:#9aa0ad
}
.tiles.white>.tiles-body>.heading{
    color:#000
}
.tiles.white .tiles-body>.description{
    color:#8b91a0
}
.tiles .settings-box{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    padding:1px 4px
}
.tiles .heading{
    font-size:25px;
    display:block;
    font-family:roboto;
    font-weight:600;
    margin:4px 0
}
.tiles .heading .icon-grid{
    top:1px;
    font-size:31px;
    position:relative
}
.tiles p{
    margin:0 0 5px
}
.tiles hr{
    margin:10px 0;
    height:1px;
    border:none;
    background-color:#2b3038
}
.tiles .tiles-body-overlay{
    position:absolute;
    z-index:100;
    padding:19px 18px 17px 24px;
    width:auto
}
.tiles .progress{
    width:70%;
    margin-bottom:13px
}
.tiles .iconplaceholder{
    background-color:rgba(0,0,0,.28)
}
.tiles .iconplaceholder i{
    color:#fff
}
.tiles>.tiles-body>.description{
    font-size:13px;
    display:block;
    color:#fff;
    display:table-cell;
    vertical-align:middle;
    -webkit-font-smoothing:antialiased
}
.tiles .description i{
    font-size:21px;
    color:#fff
}
.tiles .description .mini-description{
    position:relative;
    top:-5px
}
.tiles label{
    color:#fff
}
.tiles.red{
    background-color:#f35958
}
.tiles.red .button{
    background:#bf3938;
    color:#f7bebe
}
.tiles.purple{
    background-color:#735f87
}
.tiles.purple .button{
    background:#736086;
    color:#d7d5d7
}
.tiles.blue{
    background-color:#0090d9
}
.tiles.green{
    background-color:#0aa699
}
.tiles.black{
    background-color:#22262e
}
.tiles.black .blend{
    color:#8b91a0
}
.tiles.black input{
    background-color:rgba(0,0,0,.35);
    border:0
}
.tiles.dark-blue{
    background-color:#365d98
}
.tiles.light-blue{
    background-color:#00abea
}
.tiles.light-red{
    background-color:#f96773
}
.tiles.grey{
    background-color:#e9ecee
}
.tiles.gradient-grey{
    background:-moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(131,131,131,0.65) 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(131,131,131,0.65)));
    background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(131,131,131,0.65) 100%);
    background:-o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(131,131,131,0.65) 100%);
    background:-ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(131,131,131,0.65) 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(131,131,131,0.65) 100%)
}
.tiles.gradient-black{
    background:-moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.65)));
    background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background:-o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background:-ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)
}
.tiles .blend{
    color:rgba(0,0,0,.42)
}
.tiles .button{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    padding:3px 12px
}
.tile-more-content{
    background-color:#fff
}
.tile-more-content .tiles-body{
    padding:19px 18px 17px 24px
}
.row-fluid.side-content .tiles,.row-fluid .tile-content{
    margin:0
}
.tile-footer{
    background-color:rgba(0,0,0,.28);
    color:#fff;
    font-size:13px;
    padding:8px 15px
}
.progress{
    height:3px;
    background-color:#e9ecee;
    background-image:none;
    box-shadow:none;
    filter:none
}
.progress.no-radius{
    border-radius:0
}
.progress.no-radius .progress-bar{
    border-radius:0
}
.progress.transparent{
    background-color:rgba(0,0,0,.28)
}
.progress.progress-small{
    height:2px
}
.progress.progress-large{
    height:20px
}
.progress-bar{
    box-shadow:none;
    border-radius:3px;
    background-color:#0090d9;
    background-image:none;
    -webkit-transition:all 1000ms cubic-bezier(.785,.135,.15,.86);
    transition:all 1000ms cubic-bezier(.785,.135,.15,.86);
    -webkit-transition-timing-function:cubic-bezier(.785,.135,.15,.86);
    -moz-transition-timing-function:cubic-bezier(.785,.135,.15,.86);
    -ms-transition-timing-function:cubic-bezier(.785,.135,.15,.86);
    -o-transition-timing-function:cubic-bezier(.785,.135,.15,.86);
    transition-timing-function:cubic-bezier(.785,.135,.15,.86);
    float:left;
    filter:none
}
.progress-bar-success{
    background-color:#0aa699;
    background-image:none
}
.progress-bar-info{
    background-color:#0090d9;
    background-image:none
}
.progress-bar-warning{
    background-color:#fdd01c;
    background-image:none
}
.progress-bar-danger{
    background-color:#f35958;
    background-image:none
}
.progress-bar-white{
    background-color:#fff;
    background-image:none
}
.progress-bar-black{
    background-color:#1b1e24;
    background-image:none
}
.progress-info .bar,.progress .bar-info{
    background-color:#1f3853;
    background-image:none
}
.progress-warning .bar,.progress .bar-warning{
    background-color:#fdd01c;
    background-image:none
}
.progress-danger .bar,.progress .bar-danger{
    background-color:#f35958;
    background-image:none
}
.progress-white .bar,.progress .bar-white{
    background-color:#fff;
    background-image:none
}
.progress-success.progress-striped .bar,.progress-striped .bar-success{
    background-color:#0090d9
}
.progress-info.progress-striped .bar,.progress-striped .bar-info{
    background-color:#1f3853
}
.pull-right{
    float:right!important
}
@font-face{
    font-family:icomoon;
    src:url(../fonts/custom-set.eot);
    src:url(../fonts/custom-setd41d.eot?#iefix) format('embedded-opentype'),url(../fonts/custom-set.woff) format('woff'),url(../fonts/custom-set.ttf) format('truetype'),url(../fonts/custom-set.svg#icomoon) format('svg');
    font-weight:400;
    font-style:normal
}
[data-icon]:before{}
.iconplaceholder{
    width:20px;
    height:20px;
    border-radius:99px;
    background-color:#e5e9ec;
    padding:3px;
    display:inline-block;
    margin-right:5px;
    direction:ltr
}
.iconplaceholder i{
    font-size:10px;
    color:#656c78;
    position:relative;
    left:4px;
    top:-3px
}
ul.progress-list{
    list-style:none;
    margin:10px 5px 23px 0;
    padding:0
}
ul.progress-list li .details-wrapper{
    display:inline-block;
    float:left
}
ul.progress-list li .details-wrapper .name{
    display:block;
    color:#000;
    font-size:18px
}
ul.progress-list li .details-wrapper .description{
    display:block;
    color:#9a9a9a;
    font-size:17px
}
ul.progress-list li .details-status{
    display:inline-block;
    background-color:#e5e9ec;
    color:#5c6370;
    font-size:11px;
    padding:6px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
ul.progress-list li .progress{
    margin-top:10px
}